<!DOCTYPE html>
<html>
  <head>
      <title>Blogz</title>
      <style>
            .error {
                color: red;
            }
      </style>
  </head>
<body>
    <nav>
    <br />
    <br />
        <!-- These links work now! :) -->
        <a href="/index">Main</a> | 
        <a href="/blog">Blogz</a> | 
        <a href="/login">Log In</a> | 
        <a href="/newpost">Add New Post</a> | 
        <a href="/logout">Log Out</a>
    </nav>

    {% block content %}

    {% endblock %}

</body>
</html>